[user]
	name = Trevor Bernard
[include]
	path = ~/.gitconfig.local
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	bb = !better-branch.sh
[commit]
	gpgsign = false
	verbose = true
[init]
	defaultBranch = main
[fetch]
	prune = true
	all = true
	pruneTags = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	excludesFile = ~/.gitignore
